{% extends "layout.html" %}
{% block title %}
	Home Page
{% endblock title %}
{% block content %}
    <h2>Home Page</h2>
	<form id="upload_facts" method="POST">
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Facts</label>
			<textarea class="form-control" name="insert_facts" rows="3"></textarea>
		</div>

		<div class="form-group">
			<label for="exampleFormControlTextarea1">Enter questions</label>
			<textarea class="form-control" name="insert_questions" rows="3"></textarea>
		</div>

        <input type = "submit" name = "Solve" value = "Solve">
    </form>
    <br>
    {% include 'result.html' %}
{% endblock content %}
